/* Feel free to change me and make me your own! */

body {

    background-image: url(four.png);
    background-size: cover; /* Scales the image to cover the entire background */
    background-position: center; /* Centers the image horizontally and vertically */
    background-repeat: no-repeat; /* Prevents the image from repeating */

  background-color: #FFFFFF; 
  font-family: Georgia, serif; 
}

article {
  margin-left: 10vw; 
  margin-right: 10vw; 
}

centered-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
  text-align: center; 
  font-size: 52px; 
}

h2 {
  font-size: 36px; 
}

p {
  text-align: center; 
  font-size: 20px; 
}

ul {
  font-size: 20px; 
  list-style-type: square; 
}

code {
 font-family: 'Courier New', monospace; 
}
